// Spacing helpers
// -------------------------

.m-top-zero { margin-top: 0 !important; }
.m-top-single { margin-top: $line-height-computed !important; }
.m-top-single-negative { margin-top: -($line-height-computed) !important; }
.m-top-double { margin-top: ($line-height-computed * 2) !important; }
.m-top-double-negative { margin-top: -($line-height-computed * 2) !important; }
.m-bottom-zero { margin-bottom: 0 !important; }
.m-bottom-single { margin-bottom: $line-height-computed !important; }
.m-bottom-single-negative { margin-bottom: -($line-height-computed) !important; }
.m-bottom-double { margin-bottom: ($line-height-computed * 2) !important; }
.m-bottom-double-negative { margin-bottom: -($line-height-computed * 2) !important; }

// Full Width Sections
// -------------------------

.full-bleed {
  position: relative;
  margin-top: ($line-height-computed * 2);
  margin-bottom: ($line-height-computed * 3);
  padding-top: ($line-height-computed * 2);
  padding-bottom: ($line-height-computed * 4.25);
  -webkit-font-smoothing: antialiased;

  // Margin/padding breakpoints
  @media (min-width: $screen-lg-min) {
    margin-top: ($line-height-computed * 2.5);
    margin-bottom: ($line-height-computed * 3.5);
    padding-top: ($line-height-computed * 3);
    padding-bottom: ($line-height-computed * 4.5);
  }
  @media (min-width: $screen-hd-min) {
    margin-top: ($line-height-computed * 3);
    margin-bottom: ($line-height-computed * 4);
    padding-top: ($line-height-computed * 3.5);
    padding-bottom: ($line-height-computed * 5);
  }

  // Skew that stuff, son!
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-5deg);
    background-color: $brand-navy;
    border: 1px solid $brand-navy;
    content: '';

    @media (min-width: $screen-xs-min) {
      transform: skewY(-4deg);
    }

    @media (min-width: $screen-sm-min) {
      transform: skewY(-3deg);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 { color: $brand-blue; }

  p,
  ol,
  ul,
  h6 { color: $brand-white; }

  blockquote {
    color: $brand-white;
    border-left-color: $brand-yellow;

    footer {
      color: $brand-white;
    }
  }

  // Change icon color when in the
  // full-bleed section
  .icon-outdent { color: $brand-white }

  // background image with dark overlay
  &.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &:before {
      transform: skewY(0deg);
      background-color: rgba(43,46,60,.95);
      border: 0;
    }

    // .mask-top {
    //   position: absolute;
    //   top: -2px;
    //   left: 0;
    //   width: 100%;
    //   background-size: 100% auto;
    //   background-repeat: no-repeat;
    //   background-position: 0 0;
    //   background-image: url('data:image/svg+xml;utf8,<svg id="angledMaskTop" width="1432" height="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="#FFFFFF" points="0 0 0 100 1432 25 1432 0"/></svg>');
    // }
    //
    // .mask-bottom {
    //   position: absolute;
    //   bottom: -2px;
    //   left: 0;
    //   width: 100%;
    //   background-size: 100% auto;
    //   background-repeat: no-repeat;
    //   background-position: 0 0;
    //   background-image: url('data:image/svg+xml;utf8,<svg id="angledMaskBottom" width="1432" height="100" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon fill="#FFFFFF" points="0 75 0 100 1432 100 1432 0"></polygon></svg>');
    // }

    .angled-mask-top {
      position: absolute;
      top: -2px;
      left: 0;
      width: 100%;
    }

    .angled-mask-bottom {
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
    }

    padding-top: ($line-height-computed * 5);
    padding-bottom: ($line-height-computed * 5);

    @media (min-width: $screen-xs-min) {
      padding-top: ($line-height-computed * 6);
      padding-bottom: ($line-height-computed * 6);
    }

    @media (min-width: $screen-sm-min) {
      padding-top: ($line-height-computed * 7);
      padding-bottom: ($line-height-computed * 7);
    }

    @media (min-width: $screen-md-min) {
      padding-top: ($line-height-computed * 8);
      padding-bottom: ($line-height-computed * 8);
    }

    @media (min-width: $screen-lg-min) {
      padding-top: ($line-height-computed * 9);
      padding-bottom: ($line-height-computed * 9);
    }
  }
}
